
<div class="navbar">
    
    <div class="container">
        <div class="navbar__logo">
            <img src="@/assets/logo.png" alt="" >
        </div>
        <div class="navbar__item">
            <ul>
                <router-link :to="{ name: 'homepage' }"><li>Home</li></router-link>
                <router-link :to="{ name: '' }"><li>About</li></router-link>
                <router-link :to="{ name: '' }"><li>Projects</li></router-link>
                <router-link :to="{ name: 'login'}"><li>Login</li></router-link>
                
            </ul>
        </div>
    </div>
</div>